{% if products %}
  {% for product in products %}
    {% set badgeClass = "badge-success" if product.opportunity else "badge-secondary" %}
    {% set badgeText = '<i class="fa-solid fa-rocket"></i> Expansion Opportunity' if product.opportunity else "Covered" %}
    <tr>
      <td><span >{{ product.name }}</span></td>
      <td class="col-metric">{{ "{:,}".format(product.article_volume) }}</td>
      <td class="col-metric">
        <span class="trend-badge neutral items-center">{{ product.engagement_level }} ({{ "{:,}".format(product.engagement) }})</span>
      </td>
      <td>
        <span class="status-badge {{ badgeClass }}">{{ badgeText|safe }}</span>
      </td>
    </tr>
  {% endfor %}
{% else %}
  <tr><td colspan="4" >No brand opportunities recorded.</td></tr>
{% endif %}
