# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# Flask instance (db, secrets)
instance/

*.db
# VS Code
.vscode/

tmp/

# OS junk
.DS_Store
Thumbs.db

# Build / batch scripts (optional)
*.bat

# Logs
*.log