# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

project_tree.txt
# Flask instance (db, secrets)

brain
*.db
# VS Code
.vscode/

tmp/

# OS junk
.DS_Store
Thumbs.db

# Build / batch scripts (optional)
*.bat

# Logs
*.log

supabase.dump
sync_supabase_to_local.bat

instance/

stores_programs_terms/

data/
raw_html/

