{% from"components/ui/badge.html" import badge %}

{% macro filter_chip(section_name, filter_name, instance, active_values, removable=false) %}

{% set is_active = instance.slug in active_values %}

<a
  href="{{ get_filter_url(filter_name, instance.slug, multi=True) }}"
  class="filter-item">
  {{ badge(instance.name, "filter-chip",
    "secondary" if removable
    else ("primary" if is_active else "outline")) }}
  {% if removable %}
      <span class="chip-remove inline-flex items-center justify-center">&times;</span>
  {% endif %}
</a>

{% endmacro %}
