.btn {
  gap: 0.5rem;
  /* gap-2 */
  font-size: var(--text-sm);
  /* text-sm */
  border-radius: var(--radius-md);
  --variant-bg-hover-opacity: 0.8;
}

.btn.is-loading {
  position: relative;
  pointer-events: none;
  color: transparent !important;
  /* Hides the original text */
}

.btn.is-loading::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: -0.6rem;
  margin-top: -0.6rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.btn,
.badge {
  background-color: var(--variant-bg, transparent);
  color: var(--variant-color, inherit);
  border: 1px solid var(--variant-border, transparent);
  font-weight: var(--weight-md);
  white-space: nowrap;
  text-transform: capitalize;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.btn:hover,
.badge:hover {
  background-color: var(--variant-hover-bg, var(--variant-bg, transparent));
  color: var(--variant-hover-color, var(--variant-color, inherit));
  border-color: var(--variant-hover-border, var(--variant-border, transparent));
}

.btn-back {
  margin-bottom: 1.5rem;
  justify-content: initial;
}


.btn-back i {
  width: 1rem;
  height: 1rem;
  font-size: var(--text-sm);
}