/* VARIANTS */
.variant--primary {
  --variant-bg: var(--primary);
  --variant-color: var(--primary-foreground);
  --variant-hover-bg: rgba(var(--primary-rgb), var(--variant-bg-hover-opacity));
}

.variant--secondary {
  --variant-bg: var(--secondary);
  --variant-color: var(--secondary-foreground);
  --variant-hover-bg: rgba(var(--secondary-rgb), var(--variant-bg-hover-opacity));
}

.variant--outline,
.variant--ghost {
  --variant-bg: transparent;
  --variant-color: var(--outline-foreground);
  --variant-border: transparent;
  --variant-hover-bg: var(--accent);
  --variant-hover-color: var(--accent-foreground);
}

.btn.variant--outline {
  --variant-bg: var(--outline);
  --variant-border: var(--border);
}

.variant--link {
  --variant-bg: transparent;
  --variant-color: var(--primary);
  --variant-border: transparent;
  --variant-hover-bg: transparent;
  --variant-hover-color: var(--primary);
}

.variant--destructive {
  --variant-bg: var(--destructive);
  --variant-color: var(--destructive-foreground);
  --variant-hover-bg: rgba(var(--destructive-rgb), var(--variant-bg-hover-opacity));
  --variant-ring-rgb: var(--destructive-rgb);
  --variant-focus-opacity: 0.2;
  --variant-focus-border-color: transparent;
}

.btn.variant--link {
  text-underline-offset: 0.25rem;
  text-decoration: underline;
}

.btn.variant--primary {
  height: 2.25rem;
  /* h-9 */
  padding: 0.5rem 1rem;
  /* py-2 px-4 */
}

.btn--icon {
  width: 2.25rem;
  /* size-9 */
  height: 2.25rem;
  padding: 0;
}

/* --- Dark Mode Overrides --- */

body.dark-mode .btn.variant--outline {
  --variant-bg: var(--accent);
}

body.dark-mode .btn.variant--outline:hover,
body.dark-mode .btn.variant--ghost:hover {
  --variant-hover-bg: rgba(var(--accent-rgb), 0.5);
}

body.dark-mode .variant--destructive {
  --variant-hover-bg: rgba(var(--destructive-rgb), 0.6);
  --focus-opacity: 0.4;
}