{% macro modal(id, title, icon="", class="", attrs={}) %}
<div id="{{ id }}" class="dashboard-modal-overlay flex-center" {% for key, value in attrs.items() %} {{ key }}="{{ value }}" {% endfor %}>
  <div class="dashboard-modal-content {{ class }}">
    <button class="dashboard-modal-close-x" aria-label="Close modal" type="button" data-dismiss="modal">×</button>
    {% if icon %}
    <div class="dashboard-modal-icon">{{ icon|safe }}</div>
    {% endif %}
    <h3 class="dashboard-modal-title" id="{{ id }}-title">{{ title }}</h3>
    <div class="dashboard-modal-body" id="{{ id }}-body">
      {% if caller is defined %}
      {{ caller() }}
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}
