{% set like_count = content.like_count or 0 %}
{% set comment_count = content.comment_count or 0 %}
{% from"components/ui/core.html" import button %}
<div class="interaction-panel">

  <!-- Left actions -->
  <div class="interaction-panel__actions flex items-center gap-2">
    {% set v = 'outline' %}
    {% set class = 'interaction-btn ' %}
    {% set icon_class = ' interaction-icon' %}

    <!-- Like -->
    {{ button(variant=v, class=class ~ "react-btn",
    icon="fa fa-heart" ~ icon_class, attrs={"data-reaction": "like"})
    }}

    <!-- Dislike -->
    {{ button(variant=v, class=class ~ "react-btn",
    icon="fa fa-thumbs-down" ~ icon_class, attrs={"data-reaction": "dislike"})
    }}

    <!-- Save / Watch Later -->
    {% if content.object_type == 'video' %}
    {{ button(variant=v, class=class ~ "save-btn",
    icon="fa fa-clock" ~ icon_class, attrs={"data-collection": "Watch Later", "title": "Watch Later"})
    }}
    {% else %}
    {{ button(variant=v, class=class ~ "save-btn",
    icon="fa fa-bookmark" ~ icon_class, attrs={"title": "Save to Collection"})
    }}
    {% endif %}

    <!-- Share -->
    {{ button(variant=v, class=class ~ "share-btn",
    icon="fa fa-share-alt")
    }}

    <!-- Right side (comment count) -->
    {% call button(text=comment_count ~ " comments",
    btn_span_class="comments-toggle-content",
    variant=v, icon="fa fa-comment",
    class="interaction-panel__meta flex comments-toggle-btn gap-2",
    )
    %}
    <i class="fa fa-chevron-down comments-toggle-icon"></i>
    {% endcall %}
  </div>
</div>