{% from"components/shared/card-shell.html" import card_shell %}
{% from"components/shared/image-utils.html" import render_image_url %}
{% macro article_snippet(items, snippet_title) %}
<div class="snippet-articles__section">
  <h3 class="snippet__header">{{ snippet_title }}</h3>
  <div class="snippet-articles flex flex-col">
    {% for item in items %}
    <a href="
    {{ url_for('main.article_page', article_id=item.id) }}" class="snippet-article flex">
      {{ render_image_url(
      item.image or item.image_url,
      item.title,
      ' snippet-article__img')
      }}
      <div class="snippet-article__content">
        <h4 class="snippet-article__title">{{ item.title }}</h4>
        <p class="snippet-article__date">{{ item.published_at.strftime('%b %d, %Y') }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endmacro %}