<div class="coverage-chart-container">
  <canvas id="coverageMatrixChart"></canvas>
</div>

{% set matrix_data = [] %}
{% for product in products %}
  {% set _ = matrix_data.append({
    "x": product.content_count,
    "y": product.demand_score,
    "name": product.name,
    "gapScore": product.gap_score
  }) %}
{% endfor %}

<script id="coverage-matrix-data" type="application/json">
{{ matrix_data | tojson | safe }}
</script>
<script src="{{ url_for('static', filename='js/admin/pages/insights/coverageMatrix.js') }}"></script>
