{% macro render_details(details) %}

{% if details is mapping %}
  {% for key, value in details.items() %}
    {% if value is mapping %}
      <div class="item-details-group flex flex-col">
        <h4 class="item-details-group__title">{{ key.replace('_', ' ') | title }}</h4>
        <div class="item-details-group__items flex flex-col">
          {{ render_details(value) }}
        </div>
      </div>
    {% elif value is sequence and value is not string %}
      <div class="item-details-group flex flex-col">
        <h4 class="item-details-group__title">{{ key.replace('_', ' ') | title }}</h4>
        <ul class="item-details-group__list">
          {% for item in value %}
            <li>{{ render_details(item) }}</li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <div class="item-detail-item item-detail-item--full flex justify-between items-start">
        <span class="item-detail-item__label">{{ key.replace('_', ' ') | title }}</span>
        <span class="item-detail-item__value">{{ value }}</span>
      </div>
    {% endif %}
  {% endfor %}

{% elif details is sequence and details is not string %}
  <ul class="item-details-group__list">
    {% for item in details %}
      <li>{{ render_details(item) }}</li>
    {% endfor %}
  </ul>

{% else %}
  <span class="item-detail-item__value">{{ details }}</span>
{% endif %}

{% endmacro %}