<footer class="site-footer">

  <div class="container">

    <!-- Main Footer -->
    <div class="footer-grid">

      <!-- Brand -->
      <div class="footer-column footer-brand flex flex-col items-start">

        <a href="/" class="logo group flex items-center main-nav__link site-logo">
          {% include "logos/nexora-logo.html" %}
        </a>

        <p class="footer-description">
          Your trusted source for tech news, reviews, and deals in Saudi Arabia and UAE.
        </p>

        <div class="footer-socials flex">

          {% for name, url in social_links %}
          <a href="{{ url }}" target="_blank" rel="noopener" class="footer-social flex-center {{ name }}"
            aria-label="{{ name }}">

            <i class="fab fa-{{ name }}{% if name == 'facebook' %}-f{% endif %}"></i>

          </a>
          {% endfor %}

        </div>

        <div class="newsletter-footer">
          <h4>Stay Updated</h4>
          <a href="{{ url_for('system.newsletter') }}">
            Subscribe to our newsletter
          </a>
        </div>

      </div>

      <div class="footer-body flex flex-wrap">
        {% set footer_cols = [
        {'title': 'Sections', 'items': main_sections},
        {'title': 'Topics', 'items': footer_topics},
        {'title': 'Legal', 'items': footer_pages},
        ]%}

        {% for col in footer_cols %}
        <div class="footer-column">
          <h4 class="footer-title">{{ col.title }}</h4>
          <ul class="footer-items flex flex-wrap">
            {% for item in col['items'] %}
            {% set url = url_for('content.sections', section_slug=item.slug) if col['title'] == 'Sections'
            else url_for('content.sections', section_slug='reviews', topic_slug=item.slug) if col['title'] == 'Topics'
            else url_for('system.' ~ item.slug)
            %}

            <li class="footer-item">
              <a href="{{ url }}" class="footer-link">
                {{ item.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>


    </div>


    <!-- Bottom -->
    <div class="footer-bottom">

      <p class="footer-copy">
        © {{ current_year }}
        <a href="/" class="footer-brand">Nexora</a>
        All rights reserved.
      </p>

    </div>

  </div>

</footer>