{% from "content/features/content-image.html" import render_image_url %}
{% macro content_snippet(products, snippet_title) %}
<div class="snippet-contents__section">
  <h3 class="snippet__header">{{ snippet_title }}</h3>
  <div class="snippet-contents">
    {% for product in products %}
    <a href="{{ url_for('content.content_page', content_id=product.id) }}"
      class="snippet-content" data-id="{{ product.id }}">
      {{ render_image_url(
      product.target.image_url,
      product.target.title,
      'snippet-content__img')
      }}
      <div class="snippet-content__content">
        <h4 class="snippet-content__title">{{ product.target.title }}</h4>
        {% if product.published_at %}
        <span class="snippet-content__meta">{{ product.published_at | format_date('%b %d, %Y') }}</span>
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endmacro %}