{% from"content/features/content-image.html" import render_image_url %}
{% macro content_snippet(products, snippet_title) %}
<div class="snippet-contents__section">
  <h3 class="snippet__header">{{ snippet_title }}</h3>
  <div class="snippet-contents flex gap-5 flex-wrap products-start">
    {% for product in products %}
    <a href="
    {{ url_for('content.content_page', content_id=product.id) }}" class="snippet-content flex products-start flex-col gap-4" data-id="{{ product.id }}">
      {{ render_image_url(
      product.target.image_url,
      product.target.title,
      ' snippet-content__img')
      }}
      <div class="snippet-content__content flex">
        <h4 class="snippet-content__title">{{ product.target.title }}</h4>
        <!-- <div class="snippet-content__meta flex products-center">
          {% if product.intent %}
          <span class="snippet-content__badge gap-1 inline-flex products-center">
            <i class="fas fa-tag"></i> {{ product.intent.name }}
          </span>
          {% else %}
          <span class="snippet-content__badge gap-1 inline-flex products-center">
            <i
              class="fas {% if product.object_type == 'video' %}fa-video{% elif product.object_type == 'post' %}fa-comment{% else %}fa-file-alt{% endif %}"></i>
            {{ product.object_type | title }}
          </span>
          {% endif %}
        </div> -->
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endmacro %}