<nav class="dashboard-nav">
  <a href="{{ url_for('dashboard.dashboard_home') }}" class="{% if domain == 'home' %}active{% endif %}">Overview</a>
  <a href="{{ url_for('dashboard.dashboard_articles') }}" class="{% if domain == 'articles' %}active{% endif %}">Articles</a>
  <a href="{{ url_for('dashboard.dashboard_items') }}" class="{% if domain == 'items' %}active{% endif %}">Items</a>
  <a href="{{ url_for('dashboard.dashboard_users') }}" class="{% if domain == 'users' %}active{% endif %}">Users</a>
  <a href="{{ url_for('dashboard.dashboard_interactions') }}" class="{% if domain == 'interactions' %}active{% endif %}">Interactions</a>
</nav>
