{% macro admin_search_input(
id,
placeholder,
icon='<i class="fa-solid fa-magnifying-glass"></i>',
wrapper_class="",
input_class="",
icon_class="admin-toolbar-search-icon-inside",
value=""
) %}
<div class="admin-toolbar-search admin-search-grow flex items-center {{ wrapper_class }}">
  <span class="{{ icon_class }}">
    {{ icon|safe }}
  </span>

  <input type="text" id="{{ id }}" placeholder="{{ placeholder }}" value="{{ value }}" class="{{ input_class }}" {% for
    key, val in kwargs.items() %} {{ key }}="{{ val }}" {% endfor %} />
</div>
{% endmacro %}

{% macro admin_reset_button(
id,
text="Reset",
extra_class=""
) %}
<button id="{{ id }}" class="dashboard-filter-clear {{ extra_class }}" {% for key, val in kwargs.items() %} {{ key
  }}="{{ val }}" {% endfor %}>
  {{ text }}
</button>
{% endmacro %}

{% macro admin_refresh_btn(id, text="↺ Refresh", extra_class="") %}
<button id="{{ id }}" class="admin-btn-secondary {{ extra_class }}" {% for key, val in kwargs.items() %} {{ key
  }}="{{ val }}" {% endfor %}>{{ text }}</button>
{% endmacro %}

{% macro admin_toolbar_section(extra_class="", extra_style="") %}
<div class="admin-toolbar-advanced flex gap-3 {{ extra_class }}" {% if extra_style %}{% endif %}>
  {{ caller() }}
</div>
{% endmacro %}
