{% extends "components/cards/base-card.html" %}

{% block card_type %}{{ item.object_type }}{% endblock %}
{% block card_id %}{{ item.id }}{% endblock %}
{% block card_domain %}content{% endblock %}
{% block card_link %}{{ url_for('content.content_page', content_id=item.id) }}{% endblock %}

{% block title_text %}{{ item.target.title }}{% endblock %}

{% block description %}
<p class="card__excerpt">{{ item.target.preview_text or '' }}</p>
{% endblock %}

{# Re-export the content variable for interactions-compact.html #}
{% block interactions %}
  {% set content = item %}
  {% include "components/interactions/interactions-compact.html" %}
{% endblock %}