<template id="collection-popover-template">
  <div id="collection-popover" class="collection-popover" role="dialog" aria-labelledby="collection-popover-title">
    <div class="collection-popover__content flex flex-col">
      <label id="collection-popover-title" class="collection-popover__label" for="collection-input">Save to Collection</label>
      <input type="text" id="collection-input" class="collection-popover__input" placeholder="general" value="general" />
      <div class="collection-popover__actions flex justify-end">
        <button type="button" id="collection-cancel" class="btn btn--outline btn--sm">Cancel</button>
        <button type="button" id="collection-confirm" class="btn btn--default btn--sm">Save</button>
      </div>
    </div>
  </div>
</template>
