<div id="gallery-overlay" data-gallery-overlay hidden>
    <div class="gallery-overlay__content">
        <button class="gallery-overlay__close" data-gallery-close>
            <i class="fas fa-times"></i>
        </button>
        
        <div class="gallery-overlay__viewer">
            <img src="" alt="" class="displayed-img">
            
            <button class="gallery-overlay__nav prev" data-gallery-prev>
                <i class="fas fa-chevron-left"></i>
            </button>
            <button class="gallery-overlay__nav next" data-gallery-next>
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
        
        <div class="gallery-overlay__counter">
            <span class="current">1</span> / <span class="total">1</span>
        </div>
    </div>
</div>
