{% from"components/ui/button.html" import button %}
{% from"components/ui/badge.html" import badge %}
<section class="hero-slider">
  <div class="container">
    <div class="hero-slider__wrapper">
      <div class="hero-slider__track flex">
        {% for article in hero_sliders %}
        <div class="hero-slide flex items-center" style="background-image:url('{{ article.image_url }}')">
          <div class="hero-slider__overlay"></div>
          <div class="hero-slider__content flex flex-col justify-center">
            <div class="hero-slide__content-wrapper">
              {{ badge(article.category.name, 'hero-slide__badge') }}
              <h1 class="hero-slide__title">
                {{ article.title }}
              </h1>
              <p class="hero-slide__excerpt">
                {{ article.description }}
              </p>
              <a href="{{ url_for('content.content_page', content_id=article.id) }}">
                {{ button(text="Read Article", class="hero-slide__btn") }}
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Navigation -->
      {{ button(icon="fas fa-chevron-left", variant="secondary",
      class="hero-slider__arrow hero-slider__arrow--prev")}}
      {{ button(icon="fas fa-chevron-right", variant="secondary",
      class="hero-slider__arrow hero-slider__arrow--next")}}
      <!-- Dots -->
      <div class="hero-slider__dots flex">
        {% for i in range(hero_sliders|length) %}
        {{ button(icon="fas fa-chevron-right", variant="secondary",
        class="hero-slider__dot {% if loop.first %} active{% endif %}",
        attrs={"data-slide": "{{ i }}"}
        )}}
        {% endfor %}
      </div>
    </div>
  </div>
</section>