{% from "admin/components/macros.html" import action_group, action_button %}
{% from "admin/components/crud.html" import admin_crud_rows %}

{% macro render_row(row, domain_type=none, domain_target_type=none, hide_action_column=false) %}
<tr id="{{ domain_type }}-row">
    {% for key, value in row.items() %}
    {% if key not in ['slug', 'id'] %}
    <td class="cell-{{ key }}">
        {% if key == 'link' %}
        <a target="_blank" href="{{ value.url }}">{{ value.name }}</a>
        {% else %}
        <span>{{ value }}</span>
        {% endif %}
    </td>
    {% endif %}
    {% endfor %}
    {% if not hide_action_column %}
    <td class="cell-actions flex flex-col gap-1">
        {% if domain_type in ['content', 'item', 'user', 'store', 'source', 'comment'] %}
        <a class="user-action-btn" href="/admin/{{ domain_type }}s/{{ row.id }}" target="_blank">
            👁️ Inspect
        </a>
        {% else %}
        {{ action_button("Inspect", action_type="inspect", icon="👁️", data_action="global-inspect",
        extra_class="inspect-btn", button_id=row.id, data_domain=domain_type,
        data_title=row.name|default(row.title|default(""))) }}

        {% if domain_target_type %}
        {% call action_group() %}
        <a class="user-action-btn user-action-inspect inspect-btn"
            href="/admin/{{ domain_target_type }}?source={{ row.slug }}">
            👁️ View {{ domain_target_type|title}}
        </a>
        {% endcall %}
        {% endif %}
        {% endif %}

    </td>
    {% endif %}
</tr>
{% endmacro %}

{{ admin_crud_rows(items, render_row, empty_text="Nothing found.", domain_type=domain_type or none,
domain_target_type=domain_target_type or none, hide_action_column=hide_action_column or false) }}